.imprint
  %h2= I18n.t('imprint.title')
  = I18n.t('imprint.subtitle').html_safe
  = I18n.t('imprint.publisher').html_safe
  = I18n.t('imprint.project_lead').html_safe
  = I18n.t('imprint.tech_lead').html_safe
  = I18n.t('imprint.license').html_safe
  = I18n.t('imprint.privacy').html_safe
